# Testomatic MAIN    Config

# This your main config.

# Read the README.md for more information


# =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
# **IMPORTANT:** To use this configuration file, rename or copy it as
# 'testomatic.cfg' if placed inside the '~/.config' folder or your home
# folder (~/). You can append a period in front of the config file name,
# if you want hidden, if desired.
#
# Or 'config.cfg' if placed inside a 'testomatic' folder inside the 
# '~/.config' folder or in a '.testomatic' folder inside your home
# folder.
# =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=


# -----
# Project specific parameters: 
# (this also can be set using an 'testomatic.env' config file in the 
# project directory itself.

# These variables can be auto-detected when inside the actual project
# folder.

#project=pa05a
#projectfile=
#working_dir="~/cs135/pa05a"

#TEST_RANGE_START=0
#TEST_RANGE_END=2
	# the test range files must be defined in one of the configuration
	# files
	
# -----

# Class specific parameters:
# (this also can be set using an 'testomatic.env' config file in the
# class directory (parent directory of the project folder) itself.

#class=cs135
#classid=prof-mon
#turnin_cmd='turnin -c $CLASSID -p $PROJECT'$WORKING_DIR/$PROJECT_FILE''


# -----


# Custom settings:

#override_child_config=0
    # The settings chosen in this file typically does not take precedence, so
    #   if one of your class or project configurations changes a value, it
    #   take precedence.

    # A way to override this behavior is to 
